@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar niceties */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 8px;
}
